<section id="education" class="education">
  <h1 class="section-title">Education</h1>

  <div class="edu-list">
    
    <div class="edu-card clg">
        <div class="clg-img">
           
        </div>
        <div>
      <h2>B.Tech in Information Technology</h2>
      <p style="color: #00ff88;">NIT Jalandhar • 2021 - 2025</p>
      <span>CGPA: 6.8/10</span>
      </div>
    </div>
    
   
    <div class="edu-card clg">
        <div class="scl-img">
           
        </div>
        <div>
      <h2>Higher Secondary (H.S.C)</h2>
      <p style="color: #00ff88;">CENTRAL ACADEMY School • 2018 - 2019</p>
      <span>Percentage: 84%</span>
      </div>
    </div>

    <div class="edu-card clg">
        <div class="scl-img">
           
        </div>
        <div>
      <h2>Secondary (S.S.C)</h2>
      <p style="color: #00ff88;">CENTRAL ACADEMY School • 2016 - 2017</p>
      <span>Percentage: 82%</span>
      </div>
    </div>

    
  </div>
</section>
