<footer i="footer" class="footer">
    <div class="footer-container">
      <h1 style="color: #00ff88;">Personal Information</h1>
      <p>Name: Manuj Gupta</p>
      <p>Email: manujgupta1900&#64;gmail.com</p>
      <p>Phone: +91 999-690-4902</p>
      <p>Location: Noida, India</p>
  
      <div  class="socials">

        <a href="https://www.linkedin.com/in/manuj-gupta-9885b0230/" aria-label="LinkedIn">
            <i style="margin-right:2px ;" class="fab fa-linkedin"></i>LinkedIn</a>
        <a href="https://github.com/manujcode" aria-label="GitHub"><i style="margin-right:2px ;" class="fab fa-github"></i>GitHub</a>
       
        <a href="https://www.instagram.com/manujgupta1/" aria-label="Instagram"> <i style="margin-right:2px ;" class="fab fa-instagram"></i>Instagram</a>
      </div>
    </div>
  </footer>
  