.projects {
  padding: 4rem 8%;
  background:  radial-gradient(#00ff88, rgb(0, 0, 0));
  color: #e6eef8;
  text-align: center;
  margin-top:5px;
  border-radius: 10px;
  border: 4px solid #00ff88;
}

.section-title {
  font-size: 2.2rem;
  margin-bottom: 2rem;
  color: #00ff88; /* accent */
}

.projects-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.project-card {
  background: rgba(255, 255, 255, 0.05);
  padding: 1.5rem;
  border-radius: 14px;
  box-shadow: 0 8px 16px rgba(229, 217, 217, 0.918);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.5);
}

.project-card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.project-card h3 {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
  color: #00ff88;
}

.project-card p {
  font-size: 1rem;
  color: #9fb3c8;
  margin-bottom: 1rem;
}

.btn {
  display: inline-block;
  background: #00ff88;
  color: #030000;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  font-weight: 600;
  text-decoration: none;
  transition: background 0.3s ease, transform 0.2s ease;
}

.btn:hover {
  background: #00ffb3;
  color: #03b22c;
  transform: translateY(-2px);
}

