<section id="projects" class="projects">
  <h2 class="section-title">Projects</h2>

  <div class="projects-grid">
      <div class="project-card">
        <img src="pro1.png" alt="Project 2">
        <h3>Lose And Found</h3>
        <p> A Real World problem of collage</p>
        <div style=" margin-bottom : 10px">
        <a href="https://lose-and-found.vercel.app/" class="btn">View Project</a>
    </div>
    <div>
        <a href="https://github.com/manujcode/lose_and_found" class="btn">View GitHub Repo</a>
        </div>
      </div>
    <div class="project-card">
      <img src="pro2.png" alt="Project 1">
      <h3>E-Commerce Website</h3>
      <p>Built with React, Redux, Node.js & Stripe payments.</p>
         <div style=" margin-bottom : 10px">
        <a href="https://project-repo-iota.vercel.app/" class="btn">View Project</a>
    </div>
    <div>
        <a href="https://github.com/manujcode/MERN-Ecommerce-full-stack-complete-working-website" class="btn">View GitHub Repo</a>
        </div>
    </div>


    <div class="project-card">
      <img src="pro3.png" alt="Project 3">
      <h3>Chat Server app</h3>
      <p> Server Client communicationusing Socket Io </p>
         <div style=" margin-bottom : 10px">
        <a href="https://chat-server-frontend.vercel.app/" class="btn">View Project</a>
    </div>
    <div>
        <a href="https://github.com/manujcode/chat-server-frontend" class="btn">View GitHub Repo</a>
        </div>
    </div>
  </div>
</section>

