<div>
<nav  class="nav">
    <!-- <h1 style="color: aliceblue; padding: left 30px; ">Portfolio</h1> -->
    <ul style="font-weight: 800;">
        <li style= " color:white; padding-right: 380px; padding-left:0px ; font-weight: 800; font-size: 25px; ">
           Portfolio
        </li>
    <li class="li" style="font-weight: 800;" >
        <a  href="#home">Home</a>
     
    </li>
    <li class="li" style="font-weight: 800;">
        <a href="#education">Education</a>
      
    </li>
    <li class="li" style="font-weight: 800;">
        <a href="#projects">Projects</a>
     
    </li>
    <li class="li" style="font-weight: 800;">
      <a href="#skills">Skills</a>
    </li>
    <li class="li" style="font-weight: 800;">
        <a href="#contact">Contact Us</a>
      </li>
   </ul>
</nav>
</div>
