<section id="home" class="home">
  <div class="home-content">
    <h2 class="tagline">Software Developer 1</h2>
    <h1>Hello, I'm <span>Manuj Gupta</span></h1>
    <h3>Enthusiast in <span>Web Development</span></h3>
    <div >
        <div id="work" style="margin-bottom: 19px;  ">
    <a  href="#projects" style="text-decoration: none;" class="btn" >View My Work</a>
    </div>
    <div style="margin-top: 50px;">
    <a class="btn" (click)="downloadResume()">Download Resume</a>
    </div>
    </div>
  </div>

  <div class="home-image">
    <img src="image.png" alt="Profile Picture">
  </div>
</section>
